[Desktop Entry]
Comment[en_US]=
Comment=
Exec=python $HOME/Diffusion-Browser/difbrow.pyw
GenericName[en_US]=
GenericName=
MimeType=
Name[en_US]=DiffusionBrowser
Name=DiffusionBrowser
NoDisplay=false
Path=~/Diffusion-Browser/
StartupNotify=true
Terminal=true
TerminalOptions=python difbrow.pyw
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
